


            <link rel="stylesheet" href="static/admin_register.css" type="text/css">
            <link rel="stylesheet" href="static/login.css" type="text/css">

            <style>
                body {
                    background-color: black;
                    display: grid;
                    place-items: center;
                    color: white;
                    font-family: manrope sans-serif;
                }
            </style>


            <img src="https://st2.depositphotos.com/32927174/42163/v/600/depositphotos_421633724-stock-video-glowing-neon-line-envelope-icon.jpg"/>
            <h1> Verify Your Email Address </h1>





