{% extends "base.html" %}

{% block stylesheet %}
            <link rel="stylesheet" href="static/ticket.css" type="text/css">
{% endblock %}

{% block title %} My Tickets {% endblock %}

{% block content %}
          
<link href="https://fonts.googleapis.com/css?family=Cabin|Indie+Flower|Inknut+Antiqua|Lora|Ravi+Prakash" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"  />

<div class="ticket-container" >
    <p class="upcomming">Upcoming events...</p>
        <div class="container">
            {% if ticket_list %}
            
            {% for ticket in ticket_list %} 
            <div class="item" id="delete-button">
                <div class="item-right">
                    <div class="ticket-image">
                        <div style="overflow: hidden;">
                            <img src={{ticket.image}} style="width: 100%; height: 100%; object-fit: cover;" />
                        </div>
                        <img class="barcode-image" src="{{ url_for('views.generate_barcode', barcode_value=ticket.id) }}">
                    </div>
                <span class="up-border"></span>
                <span class="down-border"></span>
                </div> <!-- end item-right -->
                
                <div class="item-left">
                {% if ticket.capacity == 0 %}
                    <p class="event"> Fully Booked! </p>
                {% elif ticket.capacity <= 4 %}
                    <p class="event" style="color: red;" > Only {{ticket.capacity}} left! </p>
                {% else %}
                    <p class="event">Event Places : {{ ticket.capacity }} </p>
                {% endif %}
                <h2 class="title">{{ ticket.name }}</h2>
                
                <div class="sce">
                    <div class="icon">
                    <i class="fa fa-table"></i>
                    </div>
                    <p> {{ ticket.date }} <br/> {{ ticket.time }}</p>
                </div>
                <div class="fix"></div>
                <div class="loc">
                    <div class="icon">
                    <i class="fa fa-map-marker"></i>
                    </div>
                    <p>{{ ticket.location }} <br/> <span style="font-size: 13px;" >{{ ticket.data }}</span></p>
                </div>
                <div class="fix"></div>
                
                    <a href="{{ url_for('views.delete_ticket',ticket_id=ticket.id) }}">
                        <button class="cancel" onclick="deleteProfile();" > Cancel </button>
                    </a>
                
                </div> <!-- end item-right -->
            </div> <!-- end item -->
            {% endfor %}

            {% else %}
                <div class="item" id="empty-list">
                    <h1>Uh Oh! No Tickets To Show </h1>
                    <p> Book your tickets now to view<a style="color: #42E26F" href="/book">here</a> </p>
                </div>
            {% endif %}
        </div>

</div>
  
{% endblock %}

