
#second-section {
    margin-top: 200px;
    background-color: #ccc;
    display: grid;
    place-items: center;
  }
  
  .container {
          width: 900px;
          margin: 0 auto;
          background: #001419;
          border-radius: 10px;
          display: grid;
          place-items: center;
          margin-top: 100px;
          margin-bottom: 100px;
          padding-bottom: 100px;
          padding-top: 100px;
        }
        
        p,
        h1 {
          text-align: center;
        }

        p {
            color: #42E26F
        }

        input[type="email"], input[type="password"], input[type="text"] {
          margin-top: 20px;
          display: block;
          width: 400px;
          padding: 10px;
          margin-bottom: 10px;
          border-radius: 5px;
          border: none;
          background-color: #666;
          color: #fff;
          font-size: 16px;
        }
        input[type="submit"] {
          display: block;
          width: 100%;
          padding: 10px;
          border-radius: 5px;
          border: none;
          background-color: #2ecc71;
          color: #fff;
          font-size: 16px;
          cursor: pointer;
          margin-top: 20px;
          margin-left: 5px;
        }
        
        input[type="submit"]:hover {
          background-color: #42E26F;
        }