
<!DOCTYPE html>
<html lang="en">
    
    <head> 
        <!-- local stylesheet -->
        <link rel="stylesheet" href="static/style.css" type="text/css">
        {% block stylesheet %} {% endblock %}
        
        <title>{%block title%}  {%endblock%} </title>

    </head>

    <body>
        <nav>
            <div class="nav-container">
                
                <div class="nav-left">
                    <span class="nav-title"><span class="tor">GIG</span>ANATOR</span>
                </div>
                
                <div class="nav-right">
                    <ul>
                        {% if user.is_authenticated %}
                            {% if user.admin %}
                                <li><a href="/"> HOME </a></li>
                                <li><a href="/myEvents"> MY EVENTS </a></li>
                                <li><a href="/logout"> LOGOUT </a></li>
                                <li><a href="/manage_attendees" class="last-element"> MANAGE ATTENDEES </a></li>
                            {% elif user.organiser %}
                                <li><a href="/"> HOME </a></li>
                                <li><a href="/my_tickets"> TICKETS </a></li>
                                <li><a href="/organisor"> MY EVENTS</a></li>
                                <li><a href="/logout"> LOGOUT </a></li>
                                <li><a href="/book" class="last-element"> BOOK </a></li>
                            {% else %}
                                <li><a href="/"> HOME </a></li>
                                <li><a href="/my_tickets"> TICKETS </a></li>
                                <li><a href="/Register_as_Admin"> ADMIN REGISTRATION </a></li>
                                <li><a href="/logout"> LOGOUT </a></li>
                                <li><a href="/book" class="last-element"> BOOK </a></li>
                            {% endif %}
                        {% else %}
                            <li><a href="/"> HOME </a></li>
                            <li><a href="/Register"> REGISTER </a></li>
                            <li><a href="/login" class="last-element"> LOGIN </a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        
        <div class="page">

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for cat, msg in messages %}
                        {% if cat == "error" %}
                            <div class="error">
                                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                                <strong>Error: </strong>  {{ msg }}
                            </div>
                        {% elif cat == "success" %}
                            <div class="success">
                                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                                <strong>Success! </strong> {{ msg }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
        <div>

        {%block content%} {%endblock%}

        <script  src="static/index.js"> </script>

    </body>

</html>