{% extends "base.html" %}

{% block title %} Book Tickets {% endblock %}

{% block stylesheet %}
        <link rel="stylesheet" href="static/login.css" type="text/css">
{% endblock %}

{% block content %}

    <p style=" font-size: 40px; padding-left: 20px; padding-top: 70px;"> 
        Select Event to Book
    </p>


    <div class="event-container" id="browse">
            
        {% if events %}
        {% for event in events %}
          <div class="item">
               <section class="event-wrapper">
                    <div class="card-grid-space">
                      <a class="event" href="{{ url_for('views.book_event',event_id=event.id) }}" style="--bg-img: url({{event.image}})">
                        <div>
                          <h1 style="color: white;"> {{ event.name }}</h1>
                          <p class="text" >{{ event.data }}</p>
                            {% if event.capacity == 0 %}
                                <p class="text" > Fully Booked! </p>
                            {% elif event.capacity <= 4 %}
                                <p class="text" style="color: red;" > Only {{event.capacity}} left! </p>
                            {% else %}
                                <p class="text" > Event Places : {{ event.capacity }} </p>
                            {% endif %}
                          <div class="date"> {{ event.date }} </div>
                          <div class="tags">
                            <div class="tag">BOOK</div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </section>
          </div>  
          {% endfor %}
          {% else %}
              <div class="item" id="empty-list">
                <h1>Uh Oh! No Events To Show </h1>
                <p> Register as an Organisor to start creating Events... </p>
              </div>
          {% endif %}
      
</div>


{% endblock %}