{% extends "base.html" %}

{% block title %} Welcome {% endblock %}

{% block stylesheet %}
        <link rel="stylesheet" href="static/login.css" type="text/css">
{% endblock %}


{% block content %}

    <div class="homepage">

      <div class="page-section" id="first-section">
        <div class="welcome" id="welcome-text">
          <div class="welcome-text-divs" id="welcome-message">
            Welcome, manage your Events. Simple and Efficient
          </div>
          <div class="welcome-text-divs" id="links">
            <div class="x" id="button-container">
              <button id="login-button-rounded" class="button-52" role="button">GET STARTED <span class="arrow">&#187;</span> </button>
            </div>
            <div class="x">
                <p>Join over 160,283 users using the <u>worlds leading event</u> organisation tool. </p>
            </div>
            <div class="x">

            </div>
          </div>
        </div>
        <div class="welcome" id="welcome-images"> 
           <div class="welcome-cards" id="left-welcome">
              <div class="left">
                 <section class="cards-wrapper3">

                  <div class="card-grid-space">
                      <a class="card3" href="#" style="--bg-img: url('/static/users.PNG');">
                      </a>
                    </div>
                    </section>

                </div>
              <div class="left" >
                    <section class="cards-wrapper4">
                  <div class="card-grid-space">
                      <a class="card4" href="#" style="--bg-img: url('/static/tickets.PNG');">
             
                      </a>
                    </div>
                    </section>

              </div>
          </div>
          <div class="welcome-cards" id="right-welcome">
            <div class="right" id="container1">

                <section class="cards-wrapper">

                  <div class="card-grid-space">
                    <a class="card" href="#" style="--bg-img: url(https://www.nice.org.uk/Media/Default/News/Events/Collaboration%205.jpg)">
                      <div>
                        <h1>Conference Event</h1>
                        <p>Practise your Presentation and Management skills, with the worlds leading professors...</p>
                        <div class="date">6 Oct 2017</div>
                        <div class="tags">
                          <div class="tag">EDIT</div>
                        </div>
                      </div>
                    </a>
                  </div>

                </section>
            </div>
            <div class="right" id="container2">
               <section class="cards-wrapper2">

                  <div class="card-grid-space">
                    <a class="card2" href="#" style="--bg-img: url('/static/graphs.PNG');">
                      <div>
                        <p style="font-size: 30px;">Track Attendees</p>
                      </div>
                    </a>
                  </div>

                </section>
            </div>
          </div>
        </div>
      </div>
      
      
      <div class="page-section" id="second-section">
       
       
            <div class="container" >
              <h1>Login</h1>
              <form method="POST">
              <br><br>
                <label for="username">Email</label><br>
                <input type="email" id="username" name="email" required>
               <br>
                <label for="password">Password</label><br>
                <input type="password" id="password" name="password" required>
               <br>
                <input type="submit" value="LOG IN">

              </form>
            </div>

      
      </div>
      
      
      
      <div id="third-section" >
          <p class="browse-events">Browse Upcoming Events  <span class="arrow">&#187;</span> </p>
      </div>
      
      <div class="event-container">
              
              {% if events %}
              {% for event in events %}
                <div class="item">
                     <section class="event-wrapper">
                          <div class="card-grid-space">
                            <a class="event" href="#" style="--bg-img: url({{event.image}})">
                              <div>
                                <h1>{{ event.name }}</h1>
                                <p>{{ event.date }}</p>
                                  {% if event.capacity == 0 %}
                                      <p class="text" > Fully Booked! </p>
                                  {% elif event.capacity <= 4 %}
                                      <p class="text" style="color: red;" > Only {{event.capacity}} left! </p>
                                  {% else %}
                                      <p class="text" > Event Places : {{ event.capacity }} </p>
                                  {% endif %}
                                <div class="date">{{ event.date }}</div>
                                <div class="tags">
                                  <div class="tag">BOOK</div>
                                </div>
                              </div>
                            </a>
                          </div>
                        </section>
                </div>  
                {% endfor %}
                {% else %}
                    <div class="item" id="empty-list">
                      <h1>Uh Oh! No Events To Show </h1>
                      <p> Register as an Organisor to start creating Events... </p>
                    </div>
                {% endif %}
            
      </div>
          
    </div>
  
  {% endblock %}
