{% extends "base.html" %}

{% block title %} Oraganisor {% endblock %}

{% block stylesheet %}
            <link rel="stylesheet" href="static/myEvents.css" type="text/css">
{% endblock %}

{% block content %}

<div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
    <strong>NOTIFICATION :</strong> Any Events You create, you will automatically be attending. Upon making an event you can view your tickets<a href="/my_tickets">here</a><p>
</div>

    <div class="page2">
        
        <div class="section1"> 
            <div class="upcomming"> My Events </div>
            <div class="event-container" >
            {% if user.attendee_event %}
                {% for event in user.attendee_event %}
                    <div class="item"> 
                        <a class="card" href="{{ url_for('views.delete_organisor_event',event_id=event.id) }} " style="--bg-img: url({{event.image}})">
                            <div>
                              <h1 style=" color: white; ">{{ event.name }}</h1>
                                <p>{{ event.data }}</p>
                                {% if event.capacity == 0 %}
                                <p > Fully Booked! </p>
                                {% elif event.capacity <= 4 %}
                                    <p  style="color: red;" > Only {{event.capacity}} left! </p>
                                {% else %}
                                    <p >Event Places : {{ event.capacity }} </p>
                                {% endif %}
                              <div class="date">{{ event.date }}</div><br>
                              <div class="tags">
                                <div style="width: 120px;" class="tag">  Delete my Event </div>
                              </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>

         
        {% else %}  
            
            <div class="no-events">
                <p style="font-size: 40px;"> No Events to Show! </p>
            <div>
        
        {% endif %}
       
        
        <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>

        <div class="container" id="section-2">
            <a onclick="toggle()"> <div class="upcomming"> Create New <span class="arrow">&#187;</span> </div></a>
            <div id="toggle" >
                
                    <h1>event</h1>
                    <form method="POST">
        
                        <label for="name"> Event Name: </label>
                        <input type="text" name="name" id="name" placeholder="Event name" />
                        <br>
                        <label for="event"> Event Description: </label><br><br>
                        <textarea class="text-area" align="center" name="event" id="event" placeholder="Write the description of your event here"> </textarea><br>
                        <br>
                        <label for="date"> Date: </label>
                        <input type="Date" name="date" id="date"/>
                    
                        <label for="time"> Time: </label>
                        <input type="time" name="time" id="time"/>
                        <br><br><br>
                        <label for="location"> Location: </label>
                        <input type="text" name="location" id="location" />
                        <br>
                        <label for="duration">Duration:</label>
                        <input type="number" id="duration" name="duration" min="5" max="800" value="30">
                        <br>
                        <label for="capacity">Capacity:</label>
                        <input type="number" id="capacity" name="capacity" min="5" max="800" value="100">
                        <br>
                        
                        <label for="images">Image: </label>
                        <input type="text" id="image" name="image" placeholder="Enter URL here">
                        <br><br>
                        
                        <div align="center">
                            <button class="button-50" role="button" type="submit"> CREATE </button>
                        </div>
                
                    </form>
                 
            </div>
        </div>
    <div>
        

{% endblock %}


